*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
  width: 100vw;
  height: 100vh;
}
#container {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#container {
  background: rgb(255,72,88);
  background: linear-gradient(90deg, rgba(255,72,88,1) 0%, rgba(230,51,95,1) 100%);
}

#titulo{
  margin-bottom: 40px;
  font-size: 25px;
  color: #ffffff;
}

#container_secundario{
 width: 700px;
 padding: 30px 50px;
 background-color: #ffffff;
 border-radius: 10px;
 -webkit-box-shadow: 9px -11px 12px -7px rgba(0,0,0,0.75);
-moz-box-shadow: 9px -11px 12px -7px rgba(0,0,0,0.75);
box-shadow: 9px -11px 12px -7px rgba(0,0,0,0.75);
}

#container_input{
  width: 100%;
  display: flex;
  margin-bottom: 50px;
  position: relative;
}

#container_input::before{
  content: '';
  position: absolute;
  width: 100%;
border-top: 2px solid rgb(14, 14, 14,0.4);
margin-top: 70px;
height: 10px;
border-radius: 30px;
}

#container_inputtxt{
  outline: none;
  border: 1px solid #000000;
  width: 80%;
  height: 40px;
  padding: 5px;
  border-radius: 10px;
}

#container_btn{
  width: 20%;
  outline: none;
  border: 1px solid #000000 ;
  background-color: #FF4858;
  color: #ffffff;
  border-radius: 10px;
  margin-left: 5px;
  height: 40px;
  cursor: pointer;
  transition: all 0.3 ease-in;

}

#container_btn:hover{
  background-color: #ee204d;
}

#container_palavra{
  color: #FF4858;
  font-size: 22px;
  margin-bottom: 10px;
  text-transform: capitalize;
}
#container_significado{
  color: #000000;
  font-style: italic;
  margin-bottom: 10px;
}

span{
  font-size: 20px;
  color: #FF4858;
}